.red{
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 8px;
  padding:10px 20px;
}
.pink{
  background-color:pink;
  color: white;
  border: 2px solid pink;
  border-radius: 8px;
  padding:10px 20px;

}
.yellow{
  background-color:yellow;
  color: white;
  border: 2px solid yellow;
  border-radius: 8px;
  padding:10px 20px;
}
.blue{
  background-color:blue;
  color: white;
  border: 2px solid blue;
  border-radius: 8px;
  padding:10px 20px;
}
.orange{
  background-color: orange;
  color: white;
  border: 2px solid orange;
  border-radius: 8px;
  padding:10px 20px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.margin{
  display:flex;
  gap:18px;
}